/Unity Project/Library
/Unity Project/ProjectSettings
/Unity Project/Temp
/Unity Project/Assets/Resources/VuforiaConfiguration.asset
/Unity Project/Assets/Resources/VuforiaConfiguration.asset.meta
/Unity Project/Assets/RoR AR/Models/jennifer_fvlart
/Unity Project/Assets/RoR AR/Models/jennifer_flvart.meta
/Unity Project/Assets/RoR AR/Models/jennifer_fvlart.7z
/Unity Project/Assets/RoR AR/Models/jennifer_flvart.meta
/Unity Project/Assets/RoR AR/Prefabs/jennifer_flvart.prefab
/Unity Project/Assets/RoR AR/Prefabs/jennifer_flvart.prefab.meta

/Unity Project/Assets/RoR AR/Materials/Jennifer_flvart.meta
/Unity Project/Assets/RoR AR/Models/jennifer_fvlart.7z.meta
/Unity Project/Assets/RoR AR/Models/jennifer_fvlart.meta
/Unity Project/Assets/RoR AR/Object Data/JenniferKnife.asset
/Unity Project/Assets/RoR AR/Object Data/JenniferKnife.asset.meta
/Unity Project/Assets/RoR AR/Prefabs/Jennifer/jennifer_flvart.prefab
/Unity Project/Assets/RoR AR/Prefabs/Jennifer/jennifer_flvart.prefab.meta
